Repository espressif/esp-usb, pull requests merged in 2025-09, with the labels that each got.

#238 feat(usb_host): USB Component overriding in IDF service releases
  .github/ci/.idf-build-examples-rules.yml
  .github/ci/.idf_build_examples_config.toml
  .github/ci/override_managed_component.py
  .github/workflows/build_and_run_test_app_usb.yml
  .github/workflows/build_idf_examples.yml
  host/usb/CMakeLists.txt
  host/usb/idf_component.yml
  host/usb/src/hcd_dwc.c
  host/usb/src/usb_host.c
Labels: Status: In Progress

#247 feat(ci): Run host tests with pytest
  .github/workflows/build_and_run_host_test.yml
  .github/workflows/build_and_run_test_app_usb.yml
  host/class/cdc/usb_host_cdc_acm/host_test/device_interaction/pytest_cdc_host_device_interaction_linux.py
  host/class/cdc/usb_host_cdc_acm/host_test/parsing_tests/pytest_cdc_host_parsing_linux.py
  host/class/hid/usb_host_hid/host_test/pytest_hid_host_linux.py
  host/class/uac/usb_host_uac/host_test/pytest_uac_host_linux.py
  host/class/uvc/usb_host_uvc/host_test/pytest_uvc_host_linux.py
  pytest.ini
  run_host_tests.sh
Labels: Status: Reviewing

#258 refactor: Use esp_vfs_fat_register_cfg instead of esp_vfs_fat_register (IEC-381)
  device/esp_tinyusb/tinyusb_msc.c
  host/class/msc/usb_host_msc/src/msc_host_vfs.c
Labels: Status: Opened

#249 feat(ci): Run target tests on usb_host_flash_disk runners
  .github/workflows/build_and_run_test_app_usb.yml
  host/usb/test/target_test/hcd/pytest_usb_hcd.py
  host/usb/test/target_test/usb_host/pytest_usb_host.py
Labels: Status: Reviewing, Component: usb_host

#260 release(usb_host_lib): v1.0.0
  host/usb/CHANGELOG.md
  host/usb/idf_component.yml
Labels: Status: Reviewing, Component: usb_host

#264 release(esp_tinyusb): v2.0.1
  device/esp_tinyusb/CHANGELOG.md
  device/esp_tinyusb/idf_component.yml
Labels: Component: usb_device
